<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://dl.dropboxusercontent.com/s/twughroqg97i08y/cloudRadio.ipa</string>
		<key>displayImageURL</key>
		<string>https://dl.dropboxusercontent.com/s/tifcgn7ghebo5qm/main_icon.png</string>
		<key>fullSizeImageURL</key>
		<string>https://dl.dropboxusercontent.com/s/tifcgn7ghebo5qm/main_icon.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.zerolive.cloudRadio</key>
		<string>cloudradio_adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>6C57920553E602D9F8E379343105BDDD35D1DBFA</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>XU8HS9JUTS</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
